# Use this file to set your environment variables
# Copy to .env and replace the values with your own

PORT=3333
STRIPE_SECRET_KEY="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"
